h1{
    color: #d185d298;
}

/* Pretpostavimo da koristiš klasu .fade-in za fade in efekt */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
  }
  
  /* Ključne animacije */
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }
  
  /* Na manjim uređajima onemogućujemo fade in */
  @media (max-width: 768px) {
    .fade-in {
      animation: none !important;
      opacity: 1 !important;
    }
  }
  

/* Stil za okvir slike */
.image-container {
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  /* Stil za širi okvir, npr. za web aplikaciju */
  .wide-container {
    width: 650px;
    height: 700px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  /* Media query za manje ekrane */
  @media (max-width: 768px) {
    /* Postavi grid kolone da zauzmu punu širinu */
    .col-lg-4,
    .col-md-7,
    .col-md-5 {
      width: 100%;
      padding: 0 15px;
    }
  
    /* Centrira sadržaj u redovima */
    .row {
      text-align: center;
      flex-direction: column;
    }
  
    /* Prilagodi veličinu okvira slika */
    .image-container,
    .wide-container {
      width: 100%;
      height: auto;
      margin-bottom: 20px; /* opcionalno, za razmak između elemenata */
    }
  
    /* Opcionalno: prilagodi fontove za manji ekran */
    h1, h2, .lead {
      font-size: 1.2rem;
    }
  }
  